<!-- cart.component.html -->
<div *ngIf="productDtos.length > 0; else emptyCart">
    <div class="cart-container">
        <div class="cart-item" *ngFor="let item of productDtos">
            <div class="product-info">
                <div class="product-image">
                    <img [src]="'data:image/jpeg;base64,' + item.returnedImg" alt="product-image" />
                </div>
                <div class="product-details">
                    <div class="item-row">
                        <div class="item-name" [ngClass]="{ 'highlight': item.highlighted }">
                            {{ item.productName }}
                        </div>
                        <div class="item-price">{{ item.price | currency }}</div>
                        <div class="quantity-controls">
                            <button mat-icon-button (click)="decreaseQuantity(item.id)"
                                [disabled]="item.quantity === 1">
                                <mat-icon>remove_circle_outline</mat-icon>
                            </button>
                            <span class="quantity">{{ item.quantity }}</span>
                            <button mat-icon-button (click)="increaseQuantity(item.id)">
                                <mat-icon>add_circle_outline</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="total-price">
            Total Amount: {{ cartItems.price | currency }}
        </div>
        <div class="total-price">
            Discount: 
            <!-- {{ order?.discount | currency }} -->
        </div>
        <div class="total-price">
            Amount: 
            <!-- {{ order?.amount | currency }} -->
        </div>
        <!-- *ngIf="order.couponName != null" -->
        <div class="total-price">
            Coupon Applied: 
            <!-- {{ order?.couponName }} -->
        </div>
        <div>
            <button mat-raised-button color="primary" (click)="placeOrder()">Place Order</button>
        </div>
    </div>

    <div class="container" *ngIf="order?.couponName">
        <form [formGroup]="couponForm" (ngSubmit)="applyCoupon()">

            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Code</mat-label>
                <input matInput type="text" placeholder="Code" formControlName="code" />
                <mat-error *ngIf="couponForm.get('code')?.hasError('required')">This input is required!</mat-error>
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Apply Coupon</button>
        </form>
    </div>
</div>

<ng-template #emptyCart>
    <div class="empty-cart">
        <mat-icon class="icon">remove_shopping_cart</mat-icon>
        <span>Nothing to see here.</span>
    </div>
</ng-template>